name: Build My Angular App

on:
  push:
    branches: [ main ]

jobs:
  build-angular-app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        working-directory: ./Angular-Workflow
        run: npm install

      - name: Build Angular App
        working-directory: ./Angular-Workflow
        run: npx ng build --configuration production
